body{
	background-color:#D0D3D4;
	margin:0px;
	color:#2b2b2b;
	font-family: 'Open Sans', "Arial", sans-serif;
<<<<<<< HEAD
	height:100%;
=======
>>>>>>> f7c3a91dd3c4a21c0322cc84eaa441b518dfffbf
}
h2{
	padding-left:5px;
	box-shadow: 0 2px 4px -2px rgba(0,0,0,0.5);
	margin-top:0px;
	margin-bottom:0px;
}
h1{
	text-align:center;
	margin-top:10px;
}
main{
<<<<<<< HEAD
=======
	
>>>>>>> f7c3a91dd3c4a21c0322cc84eaa441b518dfffbf
	width:100%;
	&::after{
		background-color:#2471A3;
		height:150px;
		width:100%;
		display:block;
		position:absolute;
		content:'';
		top:0;
		left:0;
		z-index:-1;
	}
}
#container{
	display:block;
	width:80%;
	margin-left:10%;
	background-color:white;
	height:100%;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	margin-top:30px;
	@media screen and (max-width: 600px){
		width:100%;
		margin-left:0%;
	}
}

.wrapper{
	margin-top:77px;
	width:100%;
	display:block;
	height:100%;
	.left{
		float:left;
		width:30%;
	}
	.right{
		float:left;
		width:70%;
	}
}

#folderStructure{
	color:white;
	background-color:#2b2b2b;
	#folderList{
		padding-left:0px;
		margin-top:0px;
	}
<<<<<<< HEAD
	li{
		list-style: none;
	}
=======
	
>>>>>>> f7c3a91dd3c4a21c0322cc84eaa441b518dfffbf
	.folder{
		list-style:none;
		font-size:1.3vw;
		.name{
			
			padding-left:10px;
			cursor:pointer;
			transition:0.1s box-shadow ease-in-out;
			&:before{
				content:'\f196';
				font-family:FontAwesome;
			}
			
		}
		&.open > .name:before{
			content:'\f147';
		}
		&.open > .name{
			box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
		}
		&.open > ul{
			max-height: 500px;
		}
<<<<<<< HEAD
		
	}
	ul#child{
		max-height: 0;
		margin-top:5px;
		margin-bottom:5px;
		padding-left:20px;
		color:#EBEBEB;
		list-style:none;
		overflow:hidden;
		transition:max-height 0.2s ease-in-out;
	}
	.file{
		cursor:pointer;
=======
		ul{
			max-height: 0;
			margin-top:5px;
			margin-bottom:5px;
			padding-left:20px;
			color:#EBEBEB;
			list-style:none;
			overflow:hidden;
			transition:max-height 0.2s ease-in-out;
		}
		.file{
			cursor:pointer;
		}
>>>>>>> f7c3a91dd3c4a21c0322cc84eaa441b518dfffbf
	}
}

#fileOverview{
	box-shadow:0px 0px 10px rgba(0,0,0,0.8) inset;
	color:white;
	background-color:#1c1c1c;
	height:100%;
	#fileViewer{
		margin-left:10px;
	}
}
#refreshFolderStructure{
	cursor:pointer;
	float:right;
	font-size:15px;
	margin-top:10px;
	margin-right:10px;
}
#view-source{
	float:right;
	font-size:8px;
	background-color:rgba(0,0,0,0.3);
	border-radius:5px;
	padding:5px;
	margin-top:6px;
	margin-right:5px;
	cursor:pointer;
}